<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="https://media-exp1.licdn.com/dms/image/C510BAQHAY8kMzm3fRA/company-logo_200_200/0/1527071235507?e=2159024400&v=beta&t=Zi1IcNGbDEEI4_dW-uVNgUPnLoZrRaBtCYtI8aieQnI" alt="" width="30" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">WOMEN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">MEN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">BABY & KIDS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">HOME FASHION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">OFFER</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      </form>
      <a href="#" class="header-logo">
        <i class="fa fa-heart"></i>
      </a>
      <a href="#" class="header-logo">
        <i class="fa fa-shopping-cart"><sup>{{ cardLength }}</sup></i>
      </a>
      <a href="#" class="header-logo">
        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
      </a>

    </div>
  </div>
</nav>
<!-- Nav :: end -->